.text-input {
  margin-bottom: 15px;

  label {
    margin: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    border: 1px solid #08f;
    padding: 3px;
  }

  span {
    color: tomato;
    font-size: 12px;
    font-weight: bold;
  }

  &.invalid label {
    color: tomato;
  }
}
